{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="vueadmin_container">

        <div class="vueadmin_content">
            <div class="vueadmin_content_left">
                <div class="vueadmin_info vueadmin_item">
                    <h2>Les informations de {{ user.prenom }} {{ user.nom }} :</h2>
                    <ul>
                        {#        <li>id : {{ user.id }}</li>#}
                        <li>nom : {{ user.nom }}</li>
                        <li>prenom : {{ user.prenom }}</li>
                        <li>email : {{ user.email }}</li>
                        <li>adresse : {{ user.adresse }}</li>
                        <li>ville : {{ user.ville }}</li>
                        <li>code postal : {{ user.codepostal }}</li>
                        <li>telephone : {{ user.telephone }}</li>
                        {#    {{ app.user.roles }}#}
                        {#        <li>password : {{ app.user.password }}</li>#}
                    </ul>

                </div>
                <div class="vueadmin_competence vueadmin_item">
                    <h2>Les compétences de {{ user.prenom }} {{ user.nom }} : </h2>
                    {% for boucle in user.competences%}
                                <ul>
                                    <li>{{ boucle.name}}</li>
                                </ul>
                    {% endfor %}
                </div>

                <a href="{{ path('admin') }}">Revenir à l'administration</a>
            </div>
            <div class="vueadmin_content_right">


                    <div class="vueadmin_mission vueadmin_item">
                        <h2>Les missions de {{ user.prenom }} {{ user.nom }} : </h2>
                        {% for boucle in user.mission%}
                        <ul>
                            <li>

                                    <p>{{ boucle.name}}</p>
                                    <p>{{ boucle.entreprise}}</p>
                                    <p>{{ boucle.description}}</p>
                                    <p>{{ boucle.lieu}}</p>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>

            </div>
        </div>
    </div>


{% endblock %}
