{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <header class="register_header">
        <div class="header_left_content">
            <a href="{{ path('home') }}"><img src="{{ asset('images/left.svg') }}" alt="Icone d'une fleche précédente">Retour à l'accueil</a>
        </div>
        <div class="header_right_content">
            <p>Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>

    </header>

    <section class="register_container">

        <h2>Inscription</h2>

        <div class="register_form_container">

    {{ form_start(form_register) }}

    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.prenom) }}
        </div>
        <div class="col mb-3">
            {{ form_row(form_register.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.password) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.telephone) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.adresse) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.ville) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_row(form_register.codepostal) }}
        </div>
    </div>
    <div class="row">
        <div class="col mb-3 button_box">
            {{ form_row(form_register.register) }}
        </div>
    </div>

    {{ form_end(form_register) }}
        </div>

    </section>

{% endblock %}
